* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  border: none;
}
a {
  text-decoration: none;
}
input {
  outline: none;
}
.container {
  width: 100%;
  max-width: 450px;
  margin: 0px auto;
}
body {
  background-image: url(../img/png/Path\ 2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background: rgba(224, 232, 255, 1);
}
.parent-card {
  width: 450px;
  height: 697px;
  border-radius: 20px;
  box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.15);
  background: rgba(255, 255, 255, 1);
}
.text {
  display: flex;
  flex-direction: column;
  max-width: 354px;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  h4 {
    color: rgba(31, 46, 85, 1);

    font-family: Red Hat Display;
    font-style: Black;
    font-size: 28px;
    font-weight: 900;
    line-height: 37px;
    letter-spacing: 0px;
    text-align: center;
  }
  p {
    color: rgba(113, 127, 166, 1);

    font-family: Red Hat Display;
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    padding-top: 14px;
  }
}
.text-bottm {
  max-width: 306px;
  width: 370px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 45px;

  border-radius: 11px;
  background: rgba(247, 249, 255, 1);
}
.img {
  display: flex;
  padding-left: 10px;
}
.bottom-text {
  width: 354px;
  height: 98px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 15px;
  h4 {
    color: rgba(31, 46, 85, 1);

    font-family: Red Hat Display;
    font-style: Black;
    font-size: 16px;
    font-weight: 900;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
  }
  p {
    color: rgba(113, 127, 166, 1);

    font-family: Red Hat Display;
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
  }
}
.Change {
  color: rgba(118, 108, 241, 1);

  font-family: Red Hat Display;
  font-style: Bold;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  padding-right: 10px;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 354px;
  height: 50px;
  border-radius: 11px;
  box-shadow: 0px 20px 20px 0px rgba(56, 42, 225, 0.19);
  background: rgba(56, 42, 225, 1);
  button {
    background-color: rgba(56, 42, 225, 1);

    color: white;
  }
}
.btn:hover{
  background: rgba(118, 108, 241, 1);;
  button{
    background-color:  rgba(118, 108, 241, 1);;
    
  }
}
